.menu-container {

    width: 100%;
    height: 100%;
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;


    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* =======================
MENU HEADER
======================= */
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
    padding: 5px 10px;
    width: 95%;
    /* border: 1px solid green; */

    position: sticky;
    top: 0;
    background: var(--color-bg);
    z-index: 10;
}

.menu-header button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    -webkit-tap-highlight-color: transparent;
}

.menu-header button:hover,
.menu-header button:active {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
}

.mid-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mid-header h2 {
    font-weight: 800 !important;
    font-size: 20px;
    margin: 0;
    line-height: 1;
    /* color: red; */
}

.mid-header h3 {
    font-size: 12px;
    letter-spacing: 4px;
}



/* =======================
MENU LOGO
======================= */

.menu-logo {
    /* border: 1px solid green; */
    width: 95%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    z-index: 999;

}

.menu-logo h2 {
    font-weight: 800 !important;
    font-size: 15px;
    /* color: red; */
}

.menu-logo .logo-icon {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid var(--color-text-primary);
    background-color: var(--color-text-primary);
}

.logo-icon .icon {
    color: var(--color-bg);
    font-size: 30px;
}



/* =======================
MENU SEARCH
======================= */

.menu-input {
    width: 100%;
    max-width: 310px;
    position: relative;

    /* border: 1px solid green; */
    /* border-top: 1px solid var(--color-border); */
    /* margin-top: 10px; */
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-secondary);
}

.menu-input input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--color-border);
}

/* =======================
CATEGORY BUTTONS
======================= */
.category-button {
    width: 95%;
    display: flex;
    gap: 5px;
    margin-top: 5px;
    overflow-x: auto;
    /* ⬅️ horizontal scroll */

    -webkit-overflow-scrolling: touch;
    /* smooth di iOS */

    scrollbar-width: none;
    /* Firefox */
}

/* Chrome, Safari */
.category-button::-webkit-scrollbar {
    display: none;
}

.category-button .category-btn {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    /* biar teks gak turun */

    -webkit-tap-highlight-color: transparent;
}

.category-button .category-btn:hover {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
}

.category-button .category-btn.active {
    background-color: var(--color-text-primary);
    color: var(--color-bg);
}

/* =======================
MENU CATEGORY
======================= */

.menu-category {
    width: 95%;
    height: 70vh;
    overflow-y: auto;
    margin-top: 15px;
    /* padding-top: 5px; */
    padding: 5px;
    padding-top: 0;
    /* border: 1px solid var(--color-border); */
    /* border-radius: 8px; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 7px;
    position: relative;

    /* border: 1px solid green; */

}

.menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* border: 1px solid green; */
}

.menu-items .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    z-index: 999;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 10px;
}

.title h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    padding-right: 10px;
    border-bottom: 1px solid var(--color-text-primary);
}

.title-h3 {
    margin-left: 5px;
    font-size: 12px;
    color: var(--color-text-primary);
    font-style: italic;
}

.cat-span {
    gap: 20px;
    font-size: 15px;
    /* margin-right: 15px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

.cat-span span {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 15px;
}

.item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-name h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-primary);
}

.menu-price {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-secondary);
}

.menu-price .single-price {
    color: var(--color-text-primary);
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
    width: 5vw;
    padding: 5px;
    padding-right: 10px;
}

.menu-price .double-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 20vw;

}

.menu-price p {
    /* border: 1px solid var(--color-border); */
    border-radius: 8px;
    /* background-color: var(--color-border); */
    color: var(--color-text-primary);
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
    width: 5vw;
    padding: 5px;
    padding-right: 10px;
    /* font-weight: normal; */

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-price .hot {
    background-color: #fff2f0;
    border: 1px solid #af2005;
    color: #af2005;
}

.menu-price .ice {
    background-color: #eef6ff;
    border: 1px solid #007acc;
    color: #007acc;
}